// ! Project About SCSS
@import "../../../assets/common-style/common-style.scss";

// ! Keyframes

.about-project-section {
  height: 100vh;
  padding-top: 20px;
  position: relative;
  background-color: $color-blue;

  @media (max-width: $md) {
    height: auto;
    padding-bottom: 30px;
  }

  .section-title {
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 4;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0.4px;
    margin-top: 40px;
    font-family: font-semibold;
  }

  .main-part {
    margin-top: 100px;
    padding: 0 30px;

    .part__about_1 {
      .box-group {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;

        @media (max-width: $md) {
          flex-wrap: wrap;
        }

        .box {
          width: 320px;
          height: 330px;
          box-shadow: 0px 16px 38px 0px rgba(255, 255, 255, 0.291);
          background-color: #fff;
          padding: 14px;
          margin-right: 20px;
          border-radius: 8px;

          // ext media
          @media (max-width: 1100px) {
            width: 300px;
            padding: 12px;
            padding-bottom: 16px;
          }

          @media (max-width: $md) {
            &:last-child {
              margin-top: 15px;
            }
          }

          .image-part {
            height: 52%;
            // background: #ddd;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 15px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .text-part {
            .heading_text {
              font-size: 18px;
              margin-bottom: 10px;

              @media (max-width: $md) {
                font-size: 17px;
              }
            }

            .normal_text {
              font-family: font-regular;
              letter-spacing: 0.4px;
              line-height: 22px;

              @media (max-width: $md) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
