@import "../../assets/common-style/common.scss";

.product-detail-section {
    font-family: font-medium;
    margin-top: 20px;
    padding: 30px 90px;

    @media (max-width: 1024px) {
        padding: 25px 60px;
    }

    @media (max-width: 600px) {
        padding: 25px 40px;
    }

    @media (max-width: $sm) {
        padding: 20px 10px;
    }

    .section-cord {
        display: flex;
        align-items: center;
        gap: 9px;
        margin-bottom: 40px;

        @media (max-width: $sm) {
            justify-content: center;
        }

        .cord-text {

            a {
                font-size: 14px;
                text-decoration: none;
                font-family: font-medium;
                color: $color-black;

                @media (max-width: 1024px) {
                    font-size: 13px;
                }

                &:last-child {
                    @media (max-width: $md) {
                        font-size: 13px;
                        white-space: nowrap;
                        width: 150px;
                        display: inline-block;
                        overflow: hidden;
                        vertical-align: bottom;
                        text-overflow: ellipsis;
                    }

                    @media (max-width: 435px) {
                        width: 110px;
                    }

                    @media (max-width: $ext-sm) {
                        width: 50px;
                    }
                }

                &.active {
                    color: $color-green--2;
                }
            }

            svg {
                transform: rotate(-90deg) translateX(-1px) scale(0.9);

                @media (max-width: 1024px) {
                    transform: rotate(-90deg) translateX(-2px) scale(0.8);
                }
            }


        }
    }

}