// ! Product Cart SCSS
@import "../../assets/common-style/common.scss";

.product-cart {
    width: 100%;
    padding: 3px;
    
    .heading-part {
        padding: 40px;
        position: relative;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-grey--3;

        .product-image{
            transition: .4s ease all;

            &:hover {
                transform: scale(1.06);
            }
        }

        .favorite-content {
            position: absolute;
            top: 15px;
            width: 28px;
            z-index: 4;
            height: 28px;
            background-color: #fff;
            display: flex;
            align-items: center;
            transition: .3s ease all;
            border-radius: 50%;
            justify-content: center;
            right: 15px;

            &:hover {
                background: #ccc;
            }
            svg {
                cursor: pointer;
                transform: scale(0.7) translateY(1px);
            }
        }
    }

    .main-part {
        padding: 10px 3px 0 3px;
        background-color: #fff;

        .product-title-price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;

            .product-title {
                font-size: 17px;
                letter-spacing: 0.5px;
                font-family: font-bold;

                a {
                    text-decoration: none;
                    color: $color-black;
                }
            }

            .product-price {
                font-family: font-bold;
                color: $color-green--2;
                letter-spacing: 0.5px;
            }
        }

        .product-description {
            font-size: 13px;
            font-family: font-regular;
            color: $color-grey--2;
            margin-bottom: 10px;
        }

        .product-rating-sold {
            font-family: font-regular;
            display: flex;
            align-items: center;
            gap: 10px;

            .rating {
                display: flex;
                gap: 6px;
                align-items: center;

                svg:nth-child(1) {
                    transform: translateY(1px) scale(1.07);
                
                }

                .dotIcon {
                    margin-left: 4px;
                }

            }
        }
    }
}