// ! Common STYLE / Reset Codes / Variables / fonts sources

// ? Reset Codes
*,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: font-medium;
  text-decoration: none;
  list-style: none;
}


// ? FONT

@font-face {
    font-family: font-regular;
    src: url("../fonts/ClashGrotesk_Regular.otf");
}

@font-face {
    font-family: font-medium;
    src: url("../fonts/ClashGrotesk_Medium.otf");
}

@font-face {
    font-family: font-semibold;
    src: url("../fonts/ClashGrotesk_Semibold.otf");
}

@font-face {
    font-family: font-bold;
    src: url("../fonts/ClashGrotesk_Bold.otf");
}


$color-black: #0B0F0E;
$color-green: #1E4C2F;
$color-blue: #705DF2;
$color-red: #FF3D71;


$lg: 1024px;
$md: 991px;
$md-ext: 768px;
$sm: 500px;
$sm-ext: 375px;
