// ! Popular products SCSS
@import "../../../assets/common-style/common.scss";


.popular-productPage {
    height: auto;
    padding: 50px 60px;
    box-sizing: border-box;

    @media (max-width: $sm) {
        padding: 20px 30px;
    }

    @media (max-width: $ext-sm) {
        padding: 50px 25px;
    }

    .heading-text-part {
        margin-bottom: 60px;
        text-align: center;

        .section-title {
            font-family: font-bold;
            font-size: 35px;
            margin-bottom: 15px;

            @media (max-width: $lg) {
                font-size: 33px;
                margin-bottom: 10px;
            }

            @media (max-width: $md) {
                font-size: 30px;
            }

            @media (max-width: $sm) {
                font-size: 27px;
             }

             @media (max-width: $ext-sm) {
                font-size: 24px;
            }
        }

        .secondary-title {
            font-family: font-regular;
            font-size: 15px;
            letter-spacing: 0.5px;
            color: $color-grey--2;

            @media (max-width: $sm) {
                font-size: 13px;
             }

             @media (max-width: $ext-sm) {
                font-size: 12px;
            }
        }
    }

    .box-group {

        .wrapper {
            display: grid;
            grid-template-columns: repeat(4, 230px);
            gap: 20px;
            justify-content: center;

            @media (max-width: $lg) {
                grid-template-columns: repeat(3, 220px);
            }

            @media (max-width: $md) {
                grid-template-columns: repeat(2, 210px);
            }

            @media (max-width: $sm) {
                grid-template-columns: repeat(2, 175px);
                row-gap: 25px;
            }

            @media (max-width: $ext-sm) {
                grid-template-columns: repeat(1, 200px);
            }

            // !!! Product Cart 
            .product-cart {
                width: 100%;
                padding: 3px;
                
                .heading-part {
                    padding: 40px;
                    position: relative;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $color-grey--3;

                    @media (max-width: $sm) {
                       padding: 20px;
                    }

                    .product-image{
                        transition: .4s ease all;

                        @media (max-width: $sm) {
                            width: 120px;
                            height: 120px;
                         }
     

                        &:hover {
                            transform: scale(1.06);

                        }
                    }

                    .favorite-content {
                        position: absolute;
                        top: 15px;
                        width: 28px;
                        z-index: 4;
                        height: 28px;
                        background-color: #fff;
                        display: flex;
                        align-items: center;
                        transition: .3s ease all;
                        border-radius: 50%;
                        justify-content: center;
                        right: 15px;

                        &:hover {
                            background: #ccc;
                        }
                        svg {
                            cursor: pointer;
                            transform: scale(0.7) translateY(1px);
                        }
                    }
                }

                .main-part {
                    padding: 10px 3px 0 3px;
                    background-color: #fff;

                    .product-title-price {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 10px;

                        .product-title {
                            font-size: 17px;
                            letter-spacing: 0.5px;
                            font-family: font-bold;
                            white-space: nowrap; 
                            overflow: hidden;
                            text-overflow: ellipsis; 


                            @media (max-width: $md) {
                                width: 140px;
                            }

                            @media (max-width: $sm) {
                                font-size: 15px;
                                width: 120px;
                             }

                            a {
                                text-decoration: none;
                                color: $color-black;
                            }
                        }

                        .product-price {
                            font-family: font-bold;
                            color: $color-green--2;
                            letter-spacing: 0.5px;

                            @media (max-width: $sm) {
                                font-size: 14px;
                             }
                        }
                    }

                    .product-description {
                        font-size: 13px;
                        font-family: font-regular;
                        color: $color-grey--2;
                        margin-bottom: 10px;
                    }

                    .product-rating-sold {
                        font-family: font-regular;
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .rating {
                            display: flex;
                            gap: 6px;
                            align-items: center;

                            @media (max-width: $sm) {
                                font-size: 14px;
                             }

                            svg:nth-child(1) {
                                transform: translateY(1px) scale(1.07);
                            
                            }

                            .dotIcon {
                                margin-left: 4px;
                            }

                        }

                        .sold {
                            @media (max-width: $sm) {
                                font-size: 14px;
                             }
                        }
                    }
                }
            }

        }
    }

    .load-more-btn {
        font-size: 16px;
        padding: 10px;
        min-width: 130px;
        width: 200px;
        text-align: center;
        margin: 50px auto 0 auto;
        border-radius: 8px;
        border: 2px solid $color-green;
        transition: .4s ease all;


        &:hover {
            transform: scale(1.04);
        }


        a {
            text-decoration: none;
            color: $color-black;
            display: inline-block;
            width: 99%;
            padding: 2px 0;
        }

        @media (max-width: $sm) {
            padding: 6px;
            font-size: 14px;
        }
    }
}