// ! COMMON SCSS

// ? FONTS


* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: font-regular;
    font-weight: 400;
    src: url("../fonts/ClashGrotesk_Regular.otf");
}

@font-face {
    font-family: font-medium;
    font-weight: 500;
    src: url("../fonts/ClashGrotesk_Medium.otf");
}

@font-face {
    font-family: font-bold;
    font-weight: 600;
    src: url("../fonts/ClashGrotesk_Bold.otf");
}

@mixin btn {
    width: 100%;
    text-align: center;
    margin: 30px 0;
    cursor: pointer;
    color: #fff;
    border: none;   
    transition: .4s ease all;
    padding: 12px 0;
    background-color: $color-green;
    border-radius: 8px;
}

// ? Dafault

$lg: 991px;
$md: 768px;
$sm: 500px;
$ext-sm: 375px;

$color-black: #0B0F0E;

$color-grey: #E4E9EE;
$color-grey--2: #818B9C;
$color-grey--3: #F6F8FA;
$color-grey--4: #F7F7F7;
$color-grey--5: #F1F1F1;
$color-grey--6: #F6F6F6;
$color-grey--7: #C4C8CC;

$color-green: #1E4C2F;
$color-green--2: #1D9E34;

$color-orange: #FCECE1;

$color-yellow: #FFA439;
