// ! Company Page SCSS
@import "../../../assets/common-style/common.scss";

.product-review {

    margin-top: 50px;
    border-bottom: 1px solid $color-grey;
    padding-bottom: 30px;

    @media (max-width: $sm) {
        padding-left: 15px;
    }

    .content-review {

        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $md) {
            flex-direction: column;
            gap: 30px;
            align-items: flex-start;
        }

        @media (max-width: $sm) {
            align-items: flex-start;
        }

        .company-about {
            display: flex;
            align-items: center;
            gap: 20px;

            .company-profile {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                border: 1px solid $color-grey--2;


                img {
                    width: 100%;
                    object-fit: contain;
                    height: 100%;
                }
            }

            .company-title {
                font-family: font-bold;
                margin-bottom: 10px;
            }

            .secondary-text {
                font-size: 14px;
                font-family: font-regular;
                color: $color-grey--2;
                margin-bottom: 10px;
                display: inline-block;
            }

            .targets {
                display: flex;
                align-items: center;
                gap: 7px;

                .target {
                    color: $color-green--2;
                    padding: 4px 8px;
                    font-family: font-regular;
                    font-size: 15px;
                    border-radius: 8px;
                    background-color: rgba(29, 158, 52, 0.10);

                    @media (max-width: 420px) {
                        font-size: 14px;
                        padding: 3px 5px;
                    }
                }
            }
        }

        .buttons-group {
            display: flex;
            gap: 10px;

            @media (max-width: $sm) {
                width: 90%;
            }

            .btn {
                padding: 12px 20px;
                color: $color-green;
                border: 2px solid $color-green;
                border-radius: 8px;
                display: flex;
                align-items: center;
                cursor: pointer;
                gap: 7px;


                @media (max-width: 1024px) {
                    font-size: 15px;
                    padding: 10px 18px;
                }

                @media (max-width: $sm) {
                    width: 50%;
                    text-align: center;
                    justify-content: center;
                }

                @media (max-width: 420px) {
                    font-size: 14px;
                    padding: 8px 4px;
                }

            }
        }
    }



}