// ! Shopping SCSS
@import "../../assets/common-style/common.scss";

.shopping-section {
    padding-top: 0;
    font-family: font-medium;

    .heading-part {
        display: flex;
        background-color: $color-grey--4;
        align-items: center;
        height: 27vh;
        border-top: 1px solid $color-grey;
        padding: 0 80px;
        justify-content: space-between;

        @media (max-width: 620px) {
            padding: 0 40px;
        }

        .content-title {

            .content-text {
                color: $color-black;
                font-size: 24px;
                font-family: font-bold;
                margin-bottom: 10px;

                @media (max-width: $md) {
                    font-size: 22px;
                }

                @media (max-width: 620px) {
                    font-size: 20px;
                }

                @media (max-width: $sm) {
                    font-size: 18px;
                }
    
            }

            .secondary-text {
                font-size: 14px;
                color: $color-grey--2;
                font-family: font-regular;
            }
        }

        .sorted-content{
            display: flex;
            align-items: center;
            gap: 10px;

            .text {
                font-size: 15px;
                font-family: font-regular;
                color: $color-grey--2;

                @media (max-width: $sm) {
                    font-size: 14px;
                }
            }

            select {
                padding: 10px 13px;
                border-radius: 8px;
                border: 1px solid $color-grey;

                @media (max-width: $sm) {
                    padding: 7px 5px;
                    border-radius: 8px;
                }
            }
        }
    }

    .content-wrapper {
        margin-top: -30px;
        display: flex;
        margin-bottom: 50px;
        padding: 0 80px;
        
        @media (max-width: 1200px) {
            padding: 0 50px;
        }
        @media (max-width: 1024px) {
            padding: 0 40px;
        }

        @media (max-width: $lg) {
            padding: 0 15px;
        }

        @media (max-width: $md) {
            justify-content: center;
        }


        .shopping-content {
            width: 80%;
            margin-right: 30px;
            // border-radius: 8px;
            background: #fff;

            @media (max-width: 1024px) {
                margin-right: 10px;
            }

            @media (max-width: $sm) {
                width: 95%;
            }

            .content {
                border: 1px solid $color-grey;
                margin-bottom: 40px;
                border-radius: 8px;

                &.dontshow {
                    display: none;
                }

                .company-part {
                    padding: 30px 25px;
                    margin-bottom: 20px;
    
                    .company-about {
                        display: flex;
                        gap: 10px;
                        align-items: center;
    
                        .company-profile-image {
                            width: 45px;
                            height: 45px;
                            // background-color: $color-green;
                            border-radius: 50%;
                            
                            @media (max-width: $lg) {
                                width: 40px;
                                height: 40px;
                            }

                            img {
                                width: 100%;
                                transform: scale(1.1);
                                height: 100%;
                            }
                        }
    
                        .company-text {
    
                            .company-title {
                                font-size: 16px;
                                font-family: font-bold;
                                color: $color-black;
                                margin-bottom: 2px;
                            }
    
                            .secondary-text {
                                font-size: 14px;
                                color: $color-grey--2;
                                font-family: font-regular;
                            }
                        }
                    }
                }
            }


            .products-groups {
                padding: 0 20px;
                
                .product-card {
                    display: flex;
                    width: 100%;
                    margin-bottom: 30px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid $color-grey;
                    align-items: center;
                    justify-content: space-between;

                    @media (max-width: 620px) {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 30px;
                    }

                    .about-part {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .product-check {
                            padding: 15px;

                            @media (max-width: 620px) {
                                padding: 5px;
                            }

                            .custom-checkbox {
                                width: 20px;
                                height: 20px;
                                cursor: pointer;
                                border: 2px solid $color-grey;
                                border-radius: 8px;

                                @media (max-width: 620px) {
                                    width: 17px;
                                    height: 17px;
                                }
                            }
                        }
                        .profile-image {
                            width: 80px;
                            height: 80px;
                            margin-right: 5px;
                            background: $color-grey--3;
                            border-radius: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img {
                                width: 85%;
                                transform: scale(0.9);
                                height: 85%;
                            }
                        }
                        .product-about {

                            .product-title {
                                font-size: 19px;
                                color: $color-black;
                                font-family: font-bold;
                                margin-bottom: 6px;

                                @media (max-width: $lg) {
                                    font-size: 17px;
                                }

                                @media (max-width: $md) {
                                    font-size: 16px;
                                }
                            }

                            .secondary-text {
                                font-size: 14px;
                                color: $color-grey--2;
                                font-family: font-regular;
                                margin-bottom: 6px;
                            }

                            .product-price {
                                font-size: 19px;
                                font-family: font-bold;
                                color: $color-green--2;

                                @media (max-width: $lg) {
                                    font-size: 17px;
                                }

                                @media (max-width: $md) {
                                    font-size: 16px;
                                }
                            }
                        }
                    }

                    .duration-part {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        @media (max-width: 620px) {
                            align-self: flex-end;
                        }

                        .counter-content {
                            display: flex;
                            border: 2px solid $color-grey;
                            border-radius: 8px;
                            align-items: center;
                            padding: 0 5px;
                            gap: 7px;

                            .minus-btn {
                                padding: 10px;
                                font-size: 19px;
                                // background-color: red;
                                color: $color-grey--2;
                                cursor: pointer;
                                font-family: font-bold;

                                @media (max-width: $lg) {
                                    padding: 7px;
                                    font-size: 18px;
                                }
                            }

                            .current-count {
                                padding: 5px;
                                // background-color: green;
                            }

                            .plus-btn {
                                padding: 10px;
                                font-size: 19px;
                                // background-color: red;
                                color: $color-green--2;
                                cursor: pointer;
                                font-family: font-bold;

                                @media (max-width: $lg) {
                                    padding: 7px;
                                    font-size: 18px;
                                }
                            }
                        }

                        .remove-btn {
                           padding: 6px;
                           border-radius: 8px;
                           display: flex;
                           align-items: center;
                           justify-content: center;
                           border: 2px solid $color-grey;
                           cursor: pointer;

                           svg {
                            transform: scale(0.9);

                            @media (max-width: $lg) {
                                transform: scale(0.7);
                            }
                           }
                        }
                    }
                }
            }

        }

        .amount-content {
            width: 30%;
            padding: 24px;
            background-color: #fff;
            border: 1px solid $color-grey;
            border-radius: 8px;

            @media (max-width: $lg) {
                width: 35%;
            }

            @media (max-width: $md) {
                display: none;
            }
        }
    }
}