// ! Price SCSS
@import "../../../../assets/common-style/common.scss";

.range-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.disabled {
        display: none;
    }

    .price-content {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 9px 12px;
        border: 1px solid $color-grey;
        border-radius: 8px;
        margin-bottom: 10px;

        .money-type {
            font-size: 14px;
            display: flex;
            gap: 3px;
            align-items: center;
        }

        input {
            height: 20px;
            border: none;
            outline: none;
            border-left: 1px solid $color-grey;
            padding-left: 10px;
            font-family: font-regular;
            transition: .3s all;
            width: 80%;
            appearance: none;

            &:focus {
                transform: scale(1.03);
            }
        }
    }

    .price-box {
        font-family: font-regular;
        font-size: 15px;
        padding: 9px 12px;
        cursor: pointer;
        border: 1px solid $color-grey;
        margin-bottom: 7px;
        border-radius: 8px;

    }
}